$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$brand-heading: #282828;
$brand-accent: #d49575;
// $brand-body: #747474;
$brand-body: white;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  overflow: hidden;
  background-color: $brand-body;
}


// .center-block {
//   width: 350px;
//   height: 350px;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.center-block {
   width: 450px;
  height: 350px;
}

.carousel-inner.item {
   .carousel-inner {
    img:active {
      max-width: 350px;
      max-height: 350px;
    }
  }
}


.imc_embed_signup {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;


  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: black;
    border-color: white;
    margin: 5px
  }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  background-color: $brand-heading;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  background-color: $brand-heading;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  a {
    color: white;
    background-color: $brand-heading;
  }

  li a:hover {
    color: black;
    background-color: white;
  }

  li a:active {
  color: black;
  background-color: white;
  }

  li a:focus {
  color: black;
  background-color: white;
  }
}

.navbar-nav {
   width: 100%;
   text-align: center;
   > li {
     float: none;
     display: inline-block;
   }
 }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: white;
  margin-top: 10px;
}

.social-media {
  float: right;
    margin-top: 10px;
}


.footer li {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
}

.social-icons {
  max-height: 30px;
  max-width: 30px;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
