$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$brand-heading: #282828;
$brand-accent: #d49575;
$brand-body: white;
$brand-primary: #5d525a;
$brand-hover: #d49575;
$brand-font: 'Montserrat', sans-serif;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  // max-height: 450px;
  overflow: scroll;
  background-color: $brand-body;
  font-family: $brand-font;
}

h1,h2,h3,h4,h5 {
  font-family: $brand-font;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
  position: relative;
}


.fa {
  color: $brand-primary;
  :hover {
    color: $brand-hover;
  }
}


.main-body {
  position: relative;
  color: $brand-primary;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: 6%;
  a {
    color: $brand-accent;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

// mailchimp signup
.imc_embed_signup {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: white;
    border-color: white;
    margin: 5px;
    float: left;
  }
  #mc-embedded-subscribe {
    background: black !important;
    color: white;
    margin-bottom: 20px;
  }

}

.mailchimp {
  // float: left;
  margin-bottom: 10px;
}
// end mailchimp sign up

/* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing {
//   padding-left: 15px;
//   padding-right: 15px;
//   background-color: $brand-heading;
// }


/* Custom page header */
// .header {
//   // border-bottom: 1px solid #e5e5e5;
//   margin-bottom: 0px;
//   background-color: $brand-heading;
//   opacity: .4;
//   width: 100%;

//   /* Make the masthead heading the same height as the navigation */
//   h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
//   }

//   a {
//     color: $brand-a-tag;
//     background-color: $brand-heading;
//   }

//   li a:hover {
//     color: $brand-hover;
//     background-color: white;
//   }

//   li a:active {
//     color: black;
//     background-color: white;
//   }

//   li a:focus {
//     color: black;
//     background-color: white;
//   }
// }

.navbar-nav {
   opacity: .4;
   width: 100%;
   text-align: center;
   > li {
     float: none;
     display: inline-block;
     a {
      color: $brand-primary;
     }
   }
   button.navbar-toggle {
    background-color: $brand-heading;
   }
   button:hover {
    background-color: grey;
   }
 }

 .navbar-navbar {
  .navbar-nav {
     width: 100%;
     text-align: center;
     > li {
       float: none;
       display: inline-block;
     }
     button.navbar-toggle {
      background-color: white;
     }
   }
 }


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  opacity: .7;
  background-color: white;
  margin-top: 10px;
}


.icons {
  margin: 0 auto;
  display: block;
}


.footer li {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
}

.social-icons {
  max-height: 30px;
  max-width: 30px;
  margin: 0 auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

// about section
.about-img {
  float: right;
  img {
    max-width: 75%;
    max-height: 75%;
  }
}

.about-text {
  float: left;
}



    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
