<div ng-include="'views/header.html'"></div>

<div class="container col-sm-8 col-sm-offset-2 centered">
  <p>Boigirl consists of Baughleon, Chris, James and Josh. James formerly played for Fractures. During Chris and Baughleon's time in Sound the Sky (2010-2012) they gained press in the Ventura Star, commercial air-play on Live 105.5, and received mentions in the VC Reporter, AMP Magazine, and <a href="http://iheartmoosiq.tumblr.com/post/14891324044/sound-the-sky" target="_blank">I Heart Moosiq blog</a>. As STS they won a spot to play Warped Tour through Ernie Ball's BOTB. They've shared the stage with many bands including La Dispute, Balance & Composure, Hawthorne Heights, PK (Night Riots), I Am Empire.</p>
</div>
