Behind those pearly whites I finally see your lies.  /
The way you twist your tongue, has always caught me tripping up  /
Just keep up the charade. / March to your own beat.  /
As your casualty count keeps casually rising. /

The secrets out, you’ve edit it down. /
Casualty Count /
In the public eye you still stand strong. /
I grit my teeth at your falsity. /
Casualty Count /
The last promise I’ll keep, is I’ll never worship you again /

So now we’ll say goodbye and I’ll be just fine. /
The nerve you had love, to stray then up and leave our home /
Just keep up the charade. /
March to your own beat. /
As your casualty count keeps casually rising. /

The secrets out, you’ve edit it down. /
Casualty Count /
In the public eye you still stand strong. /
I grit my teeth at your falsity. /
Casualty Count /
The last promise I’ll keep, is I’ll to never worship you again. /

The words, the words you say, burn me up with hate. /
The words, the words you say, burn me up with hate. /
The words, the words you say, they burn me up with. /

The secrets out, you’ve edit it down. /
The secrets out, you’ve edit it down. /

The secrets out, you’ve edit it down. /
Casualty Count /
In the public eye you still stand strong. /
I grit my teeth at your falsity. /
Casualty Count /
The last promise I’ll keep, is I’ll never worship you again.
